<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Battle sea JS - VS Computer</title>
	<link rel="icon" type="image/icon" href="static/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<h1>Battle sea JS - VS Computer</h1>

	<p id="playerName"></p>
	<p id="joined"></p>
	<p id="play"></p>

	<div id="gameContent">
		<table>
			<tr>
				<td></td>
				<td>Adversary's map</td>
				<td>Your map</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<div id="history" style="overflow-y: auto;"></div>
				</td>
				<td id="map1" class="map"></td>
				<td id="map2" class="map"></td>
				<td id="buttonTd"></td>
			</tr>
		</table>
	</div>

	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="static/communicate.js"></script>
	<script src="static/map.js"></script>
	<script src="static/ship.js"></script>
	<script src="static/load.js"></script>
	<script src="static/eventsListeners.js"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
</body>
</html>