
<!DOCTYPE html>
<meta charset="utf-8">
<title>Transform Transitions</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
<body>
	<h1>Battle sea JS</h1>
	<table>
		<tr>
			<td>Adversary's map</td>
			<td>Your map</td>
			<td></td>
		</tr>
		<tr>
			<td id="map1" class="map"></td>
			<td id="map2" class="map"></td>
			<td id="buttonTd"></td>
		</tr>
	</table>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="static/communicate.js"></script>
	<script src="static/map.js"></script>
	<script src="static/ship.js"></script>
	<script src="static/script.js"></script>