<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
<body>

	<p id="playerName"></p>
	<p id="people"></p>

	<p id="games"></p>
	<p><button id="createGame">Create Game</button></p>
	<p id="gameCreated"></p>

	<p><input type="text" name="gameId" id="gameId" placeholder="Enter id received"></p>
	<p><button id="joinGame">Join Game</button></p>

	<p id="play"></p>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		let socket = io.connect("http://localhost:8080");

		let playerName = prompt("Player name :")
		socket.emit("joinServer", playerName);
		$("#playerName").text(playerName);

		socket.on("people", function(people) {
			$("#people").text("People : " + people);
		});

		socket.on("games", function(games) {
			$("#games").text("Games : " + games);
		});

		$("#createGame").on("click", function() {
			socket.emit("createGame");
		});
		socket.on("createGame", function(id) {
			$("#gameCreated").text("Game id : " + id);
		});

		$("#joinGame").on("click", function() {
			let gameId = $.trim($('#gameId').val());
			if(gameId === "") {
				socket.emit("joinGame");
			}
			else {
				socket.emit("joinGameId", gameId);
			}
		});
		socket.on("play", function(id) {
			$("#play").text("Play on " + id);
		});

	</script>

</body>
</html>